@color: #30b34c;
@bgColor: #c4b5a5;
@fontSize: 1.6em;
body {
    /* display: flex; */
    font-size: @fontSize;
    font-family: Sans-serif;
    background-color: @bgColor;
    transition: all 0.2s ease-in;
}

.header {
    color: @color;
}