body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6em;
  font-family: Sans-serif;
  background-color: #c6e4a5;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
