$color: rgb(127, 30, 172);
$bgColor: #5b8deb;
$fontSize: 1.4em;
body {
    display: flex;
    font-size: $fontSize;
    font-family: Sans-serif;
    background-color: $bgColor;
    transition: all 0.2s ease-in;
  }
  
.header {
    color: $color;
}